page-login {
    .login-form-row {
        width: 90%;
        margin: auto;
    }
    .logo {
        width: 100%;
        text-align: center;
    }
    .input-type {
        border: 1px solid #dabebe;
        border-radius: 25px;
        width: 90%;
        height: 45px;
        font-size: 1.5rem;
        color: green;
        padding: 10px 10px 10px 20px;
        margin: auto;
    }
    .continue-button {
        margin: 0px;
        height: 45px;
        font-size: 1.8rem;
    }
}