<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-row>
      <ion-col col-9>
        <h4 class="business_name_at_dashboard" text-uppercase>{{this.common?.selectedBusiness.business_name}}</h4>
      </ion-col>
      <ion-col col-3>
        <ion-title text-right>
          <ion-icon ios="ios-person" md="md-person" (tap)="updateBusiness()"></ion-icon>
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-navbar>
  <ion-row class="tabs_button" style="background:#337ab7;">
    <ion-col col-4 [ngClass]="{'tabs_list': firstActive, 'tabs_list_without_color': !firstActive}" (click)="inputBillList()">{{translate.dashboardPage[0][translate.selectedlanguage]}}</ion-col>
    <ion-col col-4 [ngClass]="{'tabs_list': secondActive, 'tabs_list_without_color': !secondActive}" (click)="itemsList()">{{translate.dashboardPage[1][translate.selectedlanguage]}}</ion-col>
    <ion-col col-4 [ngClass]="{'tabs_list': thirdActive, 'tabs_list_without_color': !thirdActive}" (click)="clientsList()">{{translate.dashboardPage[2][translate.selectedlanguage]}}</ion-col>
  </ion-row>
</ion-header>
ˀ
<ion-content style="margin-top:20px;" scroll="true">

  <ion-row style="margin:0px;padding:0px;" *ngIf="firstActive">
    <ion-row class="ewb_tabs">
      <ion-col col-6 [ngClass]="{'ewb_tab': !ewbInput, 'ewb_tab_with_color': ewbInput}" (click)="inputBillList()">EWB {{translate.dashboardPage[3][translate.selectedlanguage]}}</ion-col>
      <ion-col col-6 [ngClass]="{'ewb_tab': !ewbGenerated, 'ewb_tab_with_color': ewbGenerated}" (click)="generatedBillList()">EWB {{translate.dashboardPage[4][translate.selectedlanguage]}}</ion-col>
      <ion-searchbar (ionInput)="searchBills($event)" placeholder="{{translate.dashboardPage[22][translate.selectedlanguage]}}"></ion-searchbar>
    </ion-row>
    <div *ngIf="ewbInput" style="    overflow-y: scroll;">
      <ion-card *ngFor="let bill of inputBillsList; let i=index;">
        <ion-card-content class="ion_card_content">
          <ion-row>
            <ion-col col-6 class="left-column-6" (click)="billDetails(bill)">
              <strong>{{bill.supplyTypeDesc}}</strong>
            </ion-col>
            <ion-col col-6 class="right-column-6" (click)="billDetails(bill)">
              <strong>{{common.getSplitedFormatedDate(bill.docDate)}}</strong>
            </ion-col>
            <ion-col col-6 class="left-column-6" (click)="billDetails(bill)">
              <span text-capitalize>{{bill.fromTrdName}}</span>
            </ion-col>
            <ion-col col-6 class="right-column-6" (click)="billDetails(bill)">
              <span text-capitalize>{{bill.fromGstin}}</span>
            </ion-col>
            <ion-col col-6 class="left-column-6">
              <span text-capitalize>{{bill.toTrdName}}</span>
            </ion-col>
            <ion-col col-6 class="right-column-6">
              <span text-capitalize>{{bill.toGstin}}</span>
            </ion-col>
            <ion-col col-6 class="left-column-6">
              <span>Document Number</span>
            </ion-col>
            <ion-col col-6 class="right-column-6">
              <span text-capitalize><b>#{{bill.docNo}}</b></span>
            </ion-col>
            <ion-col col-6 class="left-column-6">
              <span class="business_price"><b>&#x20B9; {{bill.totalValue}}</b></span>
            </ion-col>
            <ion-col col-6 class="right-column-6" style="padding-right:0;">
              <span class="business_status"><button ion-button (click)="generateEwayBill(bill)" class="generateButton">{{translate.dashboardPage[7][translate.selectedlanguage]}}</button></span>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card style="border-top:none;"></ion-card>
    </div>
    <div *ngIf="ewbGenerated">
      <ion-card *ngFor="let bill of generatedBillsList; let i=index;">
        <ion-card-content class="ion_card_content" style="background-image: url('assets/invoice/cnl.png');background-size: 60%;background-repeat: no-repeat;" *ngIf="bill.isstatus=='CNL'">
          <ion-row>
            <ion-col col-6 class="left-column-6" (click)="generatedBillDetails(bill)">
              <strong>{{bill.supplyTypeDesc}}</strong>
            </ion-col>
            <ion-col col-6 class="right-column-6" (click)="generatedBillDetails(bill)">
              <strong>&#x20B9; {{bill.totalValue}}</strong>
            </ion-col>
            <ion-col col-6 class="left-column-6" (click)="generatedBillDetails(bill)">
              <span text-capitalize>{{bill.fromTrdName}}</span>
            </ion-col>
            <ion-col col-6 class="right-column-6" (click)="generatedBillDetails(bill)">
              <span text-capitalize>{{bill.fromGstin}}</span>
            </ion-col>
            <ion-col col-6 class="left-column-6">
              <span text-capitalize>{{bill.toTrdName}}</span>
            </ion-col>
            <ion-col col-6 class="right-column-6">
              <span text-capitalize>{{bill.toGstin}}</span>
            </ion-col>
            <ion-col col-6 class="left-column-6">
              <span>Doc No: </span><b> {{bill.docNo}}</b>
            </ion-col>
            <ion-col col-6 class="right-column-6">
              <span>Bill No: </span><b> {{bill.ewayBillNo}}</b>
            </ion-col>
            <ion-col col-6 class="left-column-6">
              <span>Valid From: <b> {{this.common.getSplitedFormatedDate(bill.ewayBillDate)}}</b></span>
            </ion-col>
            <ion-col col-6 class="right-column-6">
              <span>Valid To: <b> {{this.common.getSplitedFormatedDate(bill.validUpto)}}</b></span>
            </ion-col>
          </ion-row>
        </ion-card-content>
        <ion-card-content class="ion_card_content" *ngIf="bill.isstatus!='CNL'">
          <ion-row>
            <ion-col col-6 class="left-column-6" (click)="generatedBillDetails(bill)">
              <strong>{{bill.supplyTypeDesc}}</strong>
            </ion-col>
            <ion-col col-6 class="right-column-6" (click)="generatedBillDetails(bill)">
              <strong>&#x20B9; {{bill.totalValue}}</strong>
            </ion-col>
            <ion-col col-6 class="left-column-6" (click)="generatedBillDetails(bill)">
              <span text-capitalize>{{bill.fromTrdName}}</span>
            </ion-col>
            <ion-col col-6 class="right-column-6" (click)="generatedBillDetails(bill)">
              <span text-capitalize>{{bill.fromGstin}}</span>
            </ion-col>
            <ion-col col-6 class="left-column-6">
              <span text-capitalize>{{bill.toTrdName}}</span>
            </ion-col>
            <ion-col col-6 class="right-column-6">
              <span text-capitalize>{{bill.toGstin}}</span>
            </ion-col>
            <ion-col col-6 class="left-column-6">
              <span>Doc No: </span><b> {{bill.docNo}}</b>
            </ion-col>
            <ion-col col-6 class="right-column-6">
              <span>Bill No: </span><b> {{bill.ewayBillNo}}</b>
            </ion-col>
            <ion-col col-6 class="left-column-6">
              <span>Valid From: <b> {{this.common.getSplitedFormatedDate(bill.ewayBillDate)}}</b></span>
            </ion-col>
            <ion-col col-6 class="right-column-6">
              <span>Valid To: <b> {{this.common.getSplitedFormatedDate(bill.validUpto)}}</b></span>
            </ion-col>
            <ion-col col-6 class="left-column-6">
              <span class="business_status"><button ion-button (click)="cancelEwayBill(bill)" class="generateButton">{{translate.dashboardPage[10][translate.selectedlanguage]}}</button></span>
            </ion-col>
            <ion-col col-6 class="right-column-6">
              <span class="business_status"><button ion-button (click)="updateVehicleDetails(bill)" class="generateButton">{{translate.dashboardPage[11][translate.selectedlanguage]}}</button></span>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card style="border-top:none;"></ion-card>
    </div>
  </ion-row>

  <ion-row style="margin: 0px;padding: 0px;" *ngIf="secondActive">
    <ion-row class="ewb_tabs">
      <ion-searchbar (ionInput)="searchItem($event)" placeholder="{{translate.dashboardPage[23][translate.selectedlanguage]}}"></ion-searchbar>
    </ion-row>
    <ion-card *ngFor="let item of items">
      <ion-card-content class="ion_card_content">
        <ion-row>
          <ion-col col-6 class="left-column-6">
            <span class="span_first">{{translate.dashboardPage[12][translate.selectedlanguage]}}</span><br>
            <span class="span_second">{{item.item_description}}</span>
          </ion-col>
          <ion-col col-6 class="left-column-6">
            <span class="span_first">{{translate.itemsPage[2][translate.selectedlanguage]}}</span><br>
            <span class="span_second">{{item.item_sku_code}}</span>
          </ion-col>
          <ion-col col-6 class="left-column-6">
            <span class="span_first">{{translate.dashboardPage[20][translate.selectedlanguage]}}</span><br>
            <span class="span_second">{{item.hsn_sac_code}}</span>
          </ion-col>
          <ion-col col-6 class="left-column-6">
            <span class="span_first">{{translate.dashboardPage[15][translate.selectedlanguage]}} (₹)</span><br>
            <span class="span_second">{{item.purchase_price}}</span>
          </ion-col>
          <ion-col col-6 class="left-column-6">
            <span class="span_first">{{translate.dashboardPage[16][translate.selectedlanguage]}} (₹)</span><br>
            <span class="span_second">{{item.selling_price}}</span>
          </ion-col>
          <ion-col col-6 class="left-column-6">
            <span class="span_first">{{translate.dashboardPage[21][translate.selectedlanguage]}} (%)</span><br>
            <span class="span_second">{{item.cess_rate}}</span>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card style="border-top:none;"></ion-card>
  </ion-row>

  <ion-row style="margin: 0px;padding: 0px;" *ngIf="thirdActive">
    <ion-row class="ewb_tabs">
      <ion-searchbar (ionInput)="searchClient($event)" placeholder="{{translate.dashboardPage[24][translate.selectedlanguage]}}"></ion-searchbar>
    </ion-row>
    <ion-card *ngFor="let client of clients">
      <ion-card-content class="ion_card_content">
        <ion-row>
          <ion-col col-6 class="left-column-6">
            <span class="span_first">{{translate.dashboardPage[17][translate.selectedlanguage]}}</span><br>
            <span class="span_second">{{client.clientname}}</span>
          </ion-col>
          <ion-col col-6 class="left-column-6">
            <span class="span_first">PAN</span><br>
            <span class="span_second">{{client.pan}}</span>
          </ion-col>
          <ion-col col-6 class="left-column-6">
            <span class="span_first">{{translate.dashboardPage[18][translate.selectedlanguage]}}</span><br>
            <span class="span_second">{{client.mobile_no}}</span>
          </ion-col>
          <ion-col col-6 class="left-column-6">
            <span class="span_first">{{translate.dashboardPage[19][translate.selectedlanguage]}}</span><br>
            <span class="span_second">{{client.state_name}}</span>
          </ion-col>
          <ion-col col-6 class="left-column-6">
            <span class="span_first">GSTIN</span><br>
            <span class="span_second">{{client.gstin}}</span>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card style="border-top:none;"></ion-card>
  </ion-row>

</ion-content>

<ion-footer>
  <ion-fab right bottom class="add_eway_bills" *ngIf="displayAddBillButton">
    <button ion-fab color="light" (click)="addEwayBill()">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-footer>