<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-9 class="header_left">
        {{header_text}}
      </ion-col>
      <ion-col col-3 class="header_right">
        <ion-icon ios="ios-close" md="md-close" (click)="cancel()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-list>
      <ion-item>
        <ion-label floating>Supply Type</ion-label>
        <ion-select name="transaction_supply_type" [(ngModel)]="transaction.transaction_supply_type" #transaction_type="ngModel" cancelText="Cancel" okText="Select" (ngModelChange)="changeType()">
          <ion-option value="O">Outward-Sale</ion-option>
          <ion-option value="I">Inward-Purchase</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Supply Sub Type</ion-label>
        <ion-select name="transaction_sub_type" [(ngModel)]="transaction.transaction_sub_type" #transaction_sub_type="ngModel" cancelText="Cancel" okText="Select">
          <ion-option *ngFor="let transactionSubType of transactionSubTypeList" [value]="transactionSubType.value">{{transactionSubType.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Document Type</ion-label>
        <ion-select name="document_type" [(ngModel)]="transaction.document_type" #document_type="ngModel" cancelText="Cancel" okText="Select">
          <ion-option *ngFor="let documentType of documentTypeList" [value]="documentType.value">{{documentType.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Document Number</ion-label>
        <ion-input type="text" name="document_no" [(ngModel)]="transaction.document_no" #document_no="ngModel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Document Date</ion-label>
        <ion-input type="date" name="document_date" [max]="maxDate" [(ngModel)]="transaction.document_date" #document_date="ngModel"></ion-input>
      </ion-item>
      <ion-item style="border-bottom: 1px solid #dedede;"> 
        <ion-label floating>Transaction Type</ion-label>
        <ion-select name="transaction_type" [(ngModel)]="transaction.transaction_type" #transaction_type="ngModel" cancelText="Cancel" okText="Select">
          <ion-option *ngFor="let transactionType of transactionTypeList" [value]="transactionType.value">{{transactionType.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-row class="row-section">
    <ion-col col-6 class="cancel-section">
      <button ion-button (click)="cancel()" class="cancel_button">Cancel</button>
    </ion-col>
    <ion-col col-6 class="submit-section">
      <button ion-button (click)="save()" class="save_button">Save</button>
    </ion-col>
  </ion-row>
</ion-footer>