<ion-header>
    <ion-navbar>
        <ion-row>
            <ion-col col-6>
                <div class="business_name_at_dashboard">{{translate.homePage[0][translate.selectedlanguage]}}</div>
            </ion-col>
            <ion-col col-6>
                <ion-title text-right>
                    <ion-icon ios="ios-exit" md="md-exit" (click)="logout()"></ion-icon>
                </ion-title>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-row class="ewb_tabs">
        <ion-searchbar (ionInput)="searchBranch($event)" placeholder="Search branch by name, gstin"></ion-searchbar>
    </ion-row>
    <ion-card class="business_cards">
        <ion-card-header class="card_header">
            <ion-row>
                <ion-col col-2 class="common_class">
                    <div class="name_shortcut" text-uppercase>{{getSortedName(businessDetails?.business_name)}}</div>
                </ion-col>
                <ion-col col-9 style="line-height: 40px;text-align: left;">
                    <div class="name_full" text-uppercase>{{businessDetails?.business_name}}</div>
                </ion-col>
            </ion-row>
        </ion-card-header>
        <ion-card-content class="card_content">
            <ion-row class="card_content_row" *ngFor="let branch of branchList">
                <ion-col col-2></ion-col>
                <ion-col col-10>
                    <span class="card_country_name" text-capitalize>{{branch.branch}}</span>
                    <br>
                    <span text-uppercase>(GSTIN: {{branch.gstin}})</span>
                    <br>
                    <span text-uppercase>
              <button ion-button class="dashboard_button" (click)="gotoDashboard(businessDetails?.business_name, businessDetails?.buid, branch)">
                {{translate.homePage[1][translate.selectedlanguage]}}
              </button>
            </span>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer>
    <button ion-button full (click)="addBranch(businessDetails?.business_name, businessDetails?.buid)" class="continue-button">Add New Branch</button>
</ion-footer>