<ion-header>
<ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-row>
    <ion-col col-6>
      <h4 class="business_name_at_dashboard">{{translate.clientsPage[0][translate.selectedlanguage]}}</h4>
    </ion-col>
    <ion-col col-6>
      <!-- <ion-title text-right><ion-icon ios="ios-more" md="md-more"></ion-icon></ion-title> -->
    </ion-col>
  </ion-row>
</ion-navbar>
</ion-header>

<ion-content>
  <ion-row class="ewb_tabs">
    <ion-searchbar (ionInput)="searchClient($event)" placeholder="Search by Name, State, PAN, GSTIN"></ion-searchbar>
  </ion-row>
  <ion-row style="margin: 0px;padding: 0px;">
    <ion-card *ngFor="let client of clientsList">
      <ion-card-content class="ion_card_content">
        <ion-row>
          <ion-col col-12 class="right-column-6">
            <span class="span_icon_edit" (click)="clientDetails(client)"><ion-icon ios="ios-brush" md="md-brush"></ion-icon></span>
          </ion-col>
          <ion-col col-6 class="left-column-6">
            <span class="span_first">{{translate.clientsPage[1][translate.selectedlanguage]}}</span><br>
            <span class="span_second">{{client.clientname}}</span>
          </ion-col>
          <ion-col col-6 class="left-column-6">
            <span class="span_first">PAN</span><br>
            <span class="span_second">{{client.pan}}</span>
          </ion-col>
          <ion-col col-6 class="left-column-6">
            <span class="span_first">{{translate.clientsPage[2][translate.selectedlanguage]}}</span><br>
            <span class="span_second">{{client.mobile_no}}</span>
          </ion-col>
          <ion-col col-6 class="left-column-6">
            <span class="span_first">{{translate.clientsPage[3][translate.selectedlanguage]}}</span><br>
            <span class="span_second">{{client.state_name}}</span>
          </ion-col>
          <ion-col col-6 class="left-column-6">
            <span class="span_first">GSTIN</span><br>
            <span class="span_second">{{client.gstin}}</span>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card style="border-top:none;"></ion-card>
  </ion-row>
  <ion-fab right bottom>
    <button ion-fab color="light" (click)="addNewCustomer()"><ion-icon ios="ios-add" md="md-add"></ion-icon></button>
  </ion-fab>
</ion-content>
