page-sidemenu {
    .sidemenu_header {
        height: 15%;
        background: #337ab7;
        color: #fff;
    }
    .sidemenu_header_row {
        height: 100%;
        padding-left: 3%;
    }
    .sidemenu_header_name {
        font-size: 1em;
        color: #fff;
        font-weight: 500;
        margin-bottom: 2%;
    }
    .sidemenu_header_email {
        font-size: 0.8em;
        color: #fff;
        font-weight: 500;
        margin-bottom: 2%;
    }
    .sidemenu_items>button {
        color: #4c3d3d;
        border-bottom: 1px solid #fff;
    }
    .scroll-content {
        margin-top: 75px !important;
        // overflow-x: hidden !important;
        // overflow-y: hidden !important;
    }
    .toolbar-title-md {
        text-transform: capitalize;
    }
    .sidemenu_header_icon {
        width: 40px;
        height: 40px;
        position: relative;
        top: 10%;
    }
    .sidemenu_person {
        border-radius: 50%;
        width: 100%;
    }
    .business_name {
        position: relative;
        top: -10px;
        left: 5%;
    }
    .list_icon {
        font-size: 1.3em;
        margin-right: 5%;
    }
    .label-md {
        margin: 10px 8px 10px 0;
    }
    .content-md hr {
        background-color: #443838 !important;
    }
    .list-md,
    .list-ios {
        margin: 0px;
    }
    // IOS CSS Start
    .content-ios hr {
        display: none;
    }
    .list-ios {
        margin: 0px;
        border-bottom: 1px solid #eadcdc !important;
        padding-bottom: 1%;
        padding-top: 1%;
    }
    // IOS CSS End
}