page-share-file {
    .content-md,
    .content-ios {
        background: #f5eded;
    }
    .header_left {
        text-align: left;
        color: #fff;
        font-size: 1.8rem;
    }
    .button-md,
    .button-ios {
        margin: 0px;
        font-size: 1.2em;
    }
    ion-card.card.card-md,
    ion-card.card.card-ios {
        width: 100%;
        height: 40%;
        position: relative;
        top: 25%;
        margin: auto;
        text-align: center;
        box-shadow: 0px 0px 40px 20px #9ca79c;
    }
    .card-content-md,
    .card-content-ios {
        padding: 13px 16px;
        font-size: 2.4rem;
        color: #607960;
        font-weight: 400;
        position: relative;
        top: 35%;
    }
}