<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-9 class="header_left">
        {{header_text}}
      </ion-col>
      <ion-col col-3 class="header_right">
        <ion-icon ios="ios-close" md="md-close" (click)="cancel()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-list>
      <ion-item>
        <ion-label floating>{{translate.addTransportPage[0][translate.selectedlanguage]}}</ion-label>
        <ion-input type="text" name="transportion_name" [(ngModel)]="transport.transportion_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{translate.addTransportPage[1][translate.selectedlanguage]}}</ion-label>
        <ion-input type="text" name="gstin" [(ngModel)]="transport.gstin" #gstin="ngModel" maxlength="15" text-uppercase></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{translate.addTransportPage[2][translate.selectedlanguage]}}</ion-label>
        <ion-input type="number" name="approx_distance" [(ngModel)]="transport.approx_distance"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{translate.addTransportPage[8][translate.selectedlanguage]}}</ion-label>
        <ion-input type="date" name="transportation_date" [max]="maxDate" [(ngModel)]="transport.transportation_date"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{translate.addTransportPage[3][translate.selectedlanguage]}}</ion-label>
        <ion-select name="transportation_mode" [(ngModel)]="transport.transportation_mode" (ionChange)="changeTransportMode()" cancelText="Cancel" okText="Select" >
          <ion-option value="1">{{translate.addTransportPage[4][translate.selectedlanguage]}}</ion-option>
          <ion-option value="2">{{translate.addTransportPage[5][translate.selectedlanguage]}}</ion-option>
          <ion-option value="3">{{translate.addTransportPage[6][translate.selectedlanguage]}}</ion-option>
          <ion-option value="4">{{translate.addTransportPage[7][translate.selectedlanguage]}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>{{translate.addTransportPage[9][translate.selectedlanguage]}}</ion-label>
        <ion-select name="vehicle_type" [(ngModel)]="transport.vehicle_type" cancelText="Cancel" okText="Select" [disabled]="vehicleType">
          <ion-option value="R">Regular</ion-option>
          <ion-option value="O">Over Dimensional Cargo</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>{{translate.addTransportPage[10][translate.selectedlanguage]}}</ion-label>
        <ion-input type="text" name="vehicle_number" [(ngModel)]="transport.vehicle_number" [disabled]="vehicleNumber"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{docNumberLabel}}</ion-label>
        <ion-input type="text" name="transport_doc_no" [(ngModel)]="transport.transport_doc_no"></ion-input>
      </ion-item>
    </ion-list>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-row class="row-section">
    <ion-col col-6 class="cancel-section">
      <button ion-button (click)="cancel()" class="cancel_button">Cancel</button>
    </ion-col>
    <ion-col col-6 class="submit-section">
      <button ion-button (click)="save()" class="save_button">Save</button>
    </ion-col>
  </ion-row>
</ion-footer>
