<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-9 class="header_left">
        {{header_text}}
      </ion-col>
      <ion-col col-3 class="header_right">
        <ion-icon ios="ios-close" md="md-close" (click)="cancel()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-list>
      <ion-item>
        <ion-label floating>{{translate.vehicleUpdatePage[0][translate.selectedlanguage]}}</ion-label>
        <ion-select name="fromState" [(ngModel)]="vehicle.fromState" #fromState="ngModel" cancelText="Cancel" okText="Select" required>
          <ion-option *ngFor="let state of states" value="{{state.state_code}}">{{state.state_name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>{{translate.vehicleUpdatePage[1][translate.selectedlanguage]}}</ion-label>
        <ion-input type="text" name="fromPlace" [(ngModel)]="vehicle.fromPlace" #fromPlace="ngModel" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{translate.vehicleUpdatePage[2][translate.selectedlanguage]}}</ion-label>
        <ion-input type="text" name="vehicleNo" [(ngModel)]="vehicle.vehicleNo" #vehicleNo="ngModel" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{translate.vehicleUpdatePage[3][translate.selectedlanguage]}}</ion-label>
        <ion-select name="transMode" [(ngModel)]="vehicle.transMode" #transMode="ngModel" cancelText="Cancel" okText="Select" required>
          <ion-option value="1">{{translate.vehicleUpdatePage[4][translate.selectedlanguage]}}</ion-option>
          <ion-option value="2">{{translate.vehicleUpdatePage[5][translate.selectedlanguage]}}</ion-option>
          <ion-option value="3">{{translate.vehicleUpdatePage[6][translate.selectedlanguage]}}</ion-option>
          <ion-option value="4">{{translate.vehicleUpdatePage[7][translate.selectedlanguage]}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Transport Document Date</ion-label>
        <ion-input type="date" name="transDocDate" [max]="maxDate" [(ngModel)]="vehicle.transDocDate" #transDocDate="ngModel" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{translate.vehicleUpdatePage[19][translate.selectedlanguage]}}</ion-label>
        <ion-input type="text" name="transDocNo" [(ngModel)]="vehicle.transDocNo" #transDocNo="ngModel" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{translate.vehicleUpdatePage[9][translate.selectedlanguage]}}</ion-label>
        <ion-select name="vehicleType" [(ngModel)]="vehicle.vehicleType" #vehicleType="ngModel" cancelText="Cancel" okText="Select" required>
          <ion-option value="R">{{translate.vehicleUpdatePage[10][translate.selectedlanguage]}}</ion-option>
          <ion-option value="O">{{translate.vehicleUpdatePage[11][translate.selectedlanguage]}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item style="border-bottom: 1px solid #dedede;">
        <ion-label floating>{{translate.vehicleUpdatePage[12][translate.selectedlanguage]}}</ion-label>
        <ion-select name="reasonCode" [(ngModel)]="vehicle.reasonCode" #reasonCode="ngModel" cancelText="Cancel" okText="Select" required>
          <ion-option value="1">{{translate.vehicleUpdatePage[13][translate.selectedlanguage]}}</ion-option>
          <ion-option value="2">{{translate.vehicleUpdatePage[14][translate.selectedlanguage]}}</ion-option>
          <ion-option value="3">{{translate.vehicleUpdatePage[15][translate.selectedlanguage]}}</ion-option>
          <ion-option value="4">{{translate.vehicleUpdatePage[16][translate.selectedlanguage]}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-row class="row-section">
    <ion-col col-6 class="cancel-section">
      <button ion-button (click)="cancel()" class="cancel_button">Cancel</button>
    </ion-col>
    <ion-col col-6 class="submit-section">
      <button ion-button (click)="update()" class="save_button">Update</button>
    </ion-col>
  </ion-row>
</ion-footer>
